---
import Card from "./Card.astro";

interface Props {
  title?: string;
  step?: string;
  class?: string;
  [key: string]: any;
}

const { title, step, class: className, ...rest } = Astro.props;
---

<Card class={className} {...rest}>
  {
    title && (
      <header class="ui-card-header">
        <h2 class="ui-card-title">
          {step && <span class="ui-card-step">{step}</span>}
          <span>{title}</span>
        </h2>
        <slot name="header-actions" />
      </header>
    )
  }
  <div class="space-y-4">
    <slot />
  </div>
</Card>
